body {
  font-family: Meiryo, sans-serif;
  color: #4c4c4c;
  min-width: 300px;
}

p {
  line-height: 1.8rem;
  font-size: 0.8rem;
  padding: 1rem 0;
}

.text-deepblue {
  color: #4c4c4c;
}

.title {
  margin-bottom: 3rem;
  font-weight: bold;
}

.title i {
  font-size: 3rem;
}

.wrapper {
  padding: 5rem 10%;
}

#landing {
  height: 100vh;
  min-height: 42rem;
  padding: 0 5%;
  background-image: url('./img/winter.jpg');
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
}

#landing img {
  height: auto;
  width: 80vw;
  min-height: 33.7rem;
  object-fit: contain;
  margin-top: 2rem;
}

#landing .btns {
  right: 1rem;
  bottom: 1rem;
}

#landing .btn {
  color: white;
  width: 12rem;
  padding: 1rem 0;
  margin: 0.4rem;
  border-radius: 0.2rem;
}

#landing .btns .btn.more-btn {
  box-sizing: border-box;
  border: 0.2rem solid white;
  background-color: #00000066;
}

#landing .btns .btn.more-btn:hover {
  background-color: white;
  color: #4c4c4c;
}

#concept .concept-content{
  font-weight: bold;
}

#concept .concept-content strong {
  font-size: 1.1rem;
}

#architecture {
  background-image: url('./img/autumn.png');
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
}

#architecture .architecture-content {
  background-color: rgba(0, 0, 0, 0.62);
  border-radius: 0.3rem;
}

#yamanouchi {
  background-color: #4c4c4c;
}

#yamanouchi .icon {
  width: 2.5rem;
  height: 2.5rem;
  top: 0.1rem;
  right: 0;
  font-size: 1.4rem;
  z-index: 1;
}

#yamanouchi .thumbnail {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 2.5rem;
  color: transparent;
  cursor: pointer;
}

#yamanouchi .thumbnail:hover {
  color: white;
  transition: 0.2s 0s linear;
}

#yamanouchi #videoModal .close-btn {
  background: none;
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.68);
  cursor: pointer;
  z-index: 1;
  position: absolute;
  top: -2rem;
  right: -1rem;
}

#yamanouchi #videoModal .close-btn:hover {
  color: rgba(255, 255, 255, 1);
}

#outline .outline-title {
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
}

#outline .icon {
  width: 4rem;
  height: 4rem;
  background-color: #EEEDEC;
  color: #02D3C5;
  border-radius: 50%;
  margin: 0 1rem;
}

#outline .icon i {
  font-size: 1.6rem;
}

#outline .arrow {
  max-width: 7.5rem;
}

#outline i.arrow {
  font-size: 1rem;
}

#outline .register-btn {
  background-color: #777777;
  border-radius: 0.4rem;
  color: white;
  font-size: 1.2rem;
}

#outline .caution {
  font-size: 0.8rem;
}

@media (min-width: 576px) {
  p {
    font-size: 1rem;
    line-height: 2rem;
  }

  .wrapper {
    padding: 5rem 15%;
  }

  #landing {
    padding: 0 15%;
    background-attachment: fixed;
  }

  #landing img {
    height: 80vh;
    width: auto;
    margin-top: 10vh;
  }

  #architecture {
    background-attachment: fixed;
  }

  #outline .icon {
    margin: 0 2rem;
  }
}
